<table>
    <tr>
        <th>Referee</th>
        <th>Game</th>
        <th>Action</th>
    </tr>
<% game.bids.each do |bid| %>
    <tr>
        <td><%= bid.user.name %></td>
        <td><%= bid.game.home %> vs. <%= bid.game.away %> at <%= prettytime(bid.game.gametime) %></td>
        <td>
            <% @statuses.each do |status| %>
            <%= radio_button_tag, bid.id, status.id %> <%= status.name %>
            <% end %>
        </td>
<% end %>
</table>    