<h1>Assignments</h1>
<p>The following is a list of referee bids that you can assign. The referee
    is required to confirm that they will be at the game you assign them to.</p>
<table>
<% form_tag assignors_path do -%>
    <% @bidgames.each do |game| %>
        <tr class="gameheader">
            <td colspan="3"><%= game.home %> vs. <%= game.away %> at 
            <%= pretty_time(game.gametime)%> on
            <%= game.field.name %> Field</td>
        </tr>
        <%= render :partial => 'biddisplay', :locals => { :game => game } %>
    <% end %>
</table>
<%= submit_tag 'Save' %>
<% end %>

<p>The following is a list of the assignments that you have already set up.</p>
<table>
    <tr>
       <th>Game</th>
       <th>Referee</th>
       <th>Assignment</th>
       <th>Action</th> 
    </tr>
<% @assignments.each do |assignment| %>
    <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= pretty_game(assignment.game) %></td>
        <td><%= assignment.user.name %></td>
        <td><%= assignment.status.name %></td>
        <td><%= link_to "Edit", assignment %> | <%= link_to 'Destroy', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
</table>