<h1>Assignor List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Cell</th>
        <th>Actions</th>
    </tr>
<% @assignors.each do |assignor| %>
    <tr>
        <td><%= assignor.name %></td>
        <td><%= mail_to(assignor.email) %></td>
        <td><%= assignor.phone %></td>
        <td><%= assignor.cell %></td>
        <td>
            <%= link_to 'Edit', edit_assignor_path(assignor) %> | 
            <%= link_to 'Destroy', assignor, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>
<% end %>
</table>
<br/>

<%= link_to 'New Assignor', new_assignor_path %>