<p>Here are the <strong><%= @games.size %></strong> games available for you to referee.
Please select the ones you are wanting to referee for and click the "Send Selections" button 
to submit them to the system.</p>

<% form_tag bids_path do -%>
<%= render 'layouts/flash_notices' %>
<table class="bidlist">
    <tr>
        <th>Field</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date/Time</th>
        <th>Select</th>
    </tr>
<% if @games.size > 0 %>
<% @games.each do |game|  %>
    <% bid = Bid.new %>
    <% bid = Bid.find( :first, :conditions => { :user_id => @user.id, :game_id => game.id })%>
    <tr>
        <td><%= link_to game.field.name, game.field %></td>
        <td><%= game.home %></td>
        <td><%= game.away %></td>
        <td><%= prettytime(game.gametime) %></td>
        <td>
            <%= check_box_tag "game_id[]", game.id, @user.bids.include?(bid ? bid : 0) %>
        </td>
    </tr>
<% end %>
    <tr>
        <td colspan="5">
            <%= submit_tag "Send Selections"%>
        </td>
    </tr>
<% end %>
</table>
<% end -%>