<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Cell</th>
    <th>Username</th>
    <th>Password</th>
    <th>Notes</th>
    <th>Dob</th>
    <th>Level</th>
    <th>Status</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.address %></td>
    <td><%=h user.email %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.cell %></td>
    <td><%=h user.username %></td>
    <td><%=h user.password %></td>
    <td><%=h user.notes %></td>
    <td><%=h user.dob %></td>
    <td><%=h user.level %></td>
    <td><%=h user.status %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>