<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Cell:</b>
  <%=h @user.cell %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Notes:</b>
  <%=h @user.notes %>
</p>

<p>
  <b>Dob:</b>
  <%=h @user.dob %>
</p>

<p>
  <b>Level:</b>
  <%=h @user.level %>
</p>

<p>
  <b>Status:</b>
  <%=h @user.status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>