<p>
  <%= f.label :gametime %><br />
  <%= f.datetime_select :gametime %>
</p>
<p>
  <%= f.label :field_id %><br />
  <%= collection_select (:game, :field_id, Field.all, :id, :name, {:prompt => true }) %>
</p>
<p>
  <%= f.label :home, 'Home Team' %><br />
  <%= f.text_field :home %>
</p>
<p>
  <%= f.label :away, 'Away Team' %><br />
  <%= f.text_field :away %>
</p>
<p>
  <%= f.label :level, 'Level' %><br />
  <%= collection_select (:game, :level_id, Level.all, :id, :name, {:prompt => true }) %>
</p>
<p>
    <%= f.label :cup, 'Cup Game' %><br />
    <%= f.check_box :cup %>
<p>
  <%= f.label :age, 'Age Group' %><br />
  <%= collection_select (:game, :age_id, Age.all, :id, :name, {:prompt => true }) %>
</p>
<p>
  <%= f.label :notes %><br />
  <%= f.text_area :notes %>
</p>
