<table>
<tr>
    <th>Time</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Level</th>
    <th>Age Group</th>
</tr>
<% games.each do |game| %>
<tr>
    <td><%=h pretty_time(game.gametime) %></td>
    <td><%=h game.home %></td>
    <td><%=h game.away %></td>
    <td><%=h game.level && game.level.name %></td>
    <td><%=h game.age && game.age.name %></td>
</tr>
<% end %>
</table>