<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :gametime %><br />
    <%= f.datetime_select :gametime %>
  </p>
  <p>
    <%= f.label :field_id %><br />
    <%= collection_select (:field, :field_id, Field.all, :id, :name, {:prompt => true }) %>
    
  </p>
  <p>
    <%= f.label :home %><br />
    <%= f.text_field :home %>
  </p>
  <p>
    <%= f.label :away %><br />
    <%= f.text_field :away %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @game %> |
<%= link_to 'Back', games_path %>