<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "edit_game", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @game %> |
<%= link_to 'Back', game_path %>