<%= GMap.header %>
<%= @map.to_html %>
<p>
  <b>Gametime:</b>
  <%=h @game.gametime.strftime("%D at %I:%M%p") %>
</p>

<p>
  <b>Field:</b>
  <a href="<%=h @game.field.link %>"><%=h @game.field.name %></a>
</p>

<p>
  <b>Home Team:</b>
  <%=h @game.home %>
</p>

<p>
  <b>Away Team:</b>
  <%=h @game.away %>
</p>

<p>
    <b>Notes:</b>
    <%= h @game.notes %>
</p>
<p>
    <b>Map:</b>
    <%= @map.div(:width => 600, :heigh => 400 ) %>
</p>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', game_path %>