<h1>Referee List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Cell</th>
        <th>Actions</th>
    </tr>
<% @referees.each do |referee| %>
    <tr>
        <td><%= referee.name %></td>
        <td><%= mail_to(referee.email) %></td>
        <td><%= referee.phone %></td>
        <td><%= referee.cell %></td>
        <td>
            <%= link_to 'Edit', edit_referee_path(referee) %> | 
            <%= link_to 'Destroy', referee, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>
<% end %>
</table>
<br/>

<%= link_to 'New Referee', new_referee_path %>