<p>
  <%= f.label :club_id, "Club" %><br />
  <%= collection_select (:field, :club_id, Club.all, :id, :name, {:prompt => true }) %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :address, 'Address' %><br />
  <%= f.text_field :address %>
</p>
<p>
  <%= f.label :link, 'URL Link' %><br />
  <%= f.text_field :link %>
</p>
<p>
  <%= f.label :notes %><br />
  <%= f.text_area :notes %>
</p>
