<h1>Listing Fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Link</th>
    <th>Notes</th>
    <th>Actions</th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= link_to field.name, field_path(field) %></td>
    <td><%=h field.address %></td>
    <td><%= field.url.present? ? link_to('Link', field.url) : "" %></td>
    <td><%=h trim_by_words(field.notes,5) %></td>
    <td>
        <%= link_to 'Games', field_games_path(field) %> |
        <%= link_to 'Edit', edit_field_path(field) %> | 
        <%= link_to 'Destroy', field, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_area_field_path %> | <%= link_to 'Back To Club', club_path(@area.club) %>
