      <div id="header">
        <ul class="navigation round">
        <% if session[:user] %>
            <li> Logged in as <%= session[:user].name %></li>
            <% if session[:user].referee? %>
            <li> <%= link_to "My Page", bids_path %>
            <% else session[:user].assignor? %>
            <li> <%= link_to "My Page", assignors_path %>
            <% end %>
            <li> <%= link_to "Logout", logout_path %></li>
            <li><%= link_to "Home",    root_url %></li>
        <% else %>
            <li><%= link_to "Login",      login_path %>
        <% end %> 
        </ul>
      </div>

