<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<title>Referee Management System</title>
<%= render 'layouts/stylesheets' %>
</head>
<body>
    <div class="container">
        <h1>Referee Management System</h1>
        <h3>Administration</h3>
            <div id="sidecol" class="span-4 last adminnavmenu">
                <ul>
                    <li> <%= link_to "Site Home", root_path               %></li>
                    <li> <%= link_to "Fields",    club_fields_path(@club) %></li>
                </ul>
                Master Admin Functions:
                <ul>
                    <li> <%= link_to "Admins",     admins_path %></li>
                    <li> <%= link_to "Clubs",      clubs_path  %></li>
                    <li> <%= link_to "Users",      users_path  %></li>
                    <li> <%= link_to "Age Groups", ages_path   %></li>
                    <li> <%= link_to "Levels",     levels_path %></li>
                </ul>
            </div>
            <div id="maincol" class="span-20">
                <%= render 'layouts/flash_notices' %>
                <%= yield -%>
            </div>
        </div>
     </div>
  <%= "DEBUG PARAMS: "  + debug(params)  if Rails.env.development? %>
  <%= "DEBUG SESSION: " + debug(session) if Rails.env.development? %>
</body>
</html>
